.optionList {
  display: flex;
}

.delBtn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
  transition: all 0.2s;
}

.delBtn:hover {
  background-color: #e5e5e5;
  transition: all 0.2s;
}

.etc span {
  padding: 10px;
  width: 100%;
}

.addInput {
  width: 80px;
}

.addBtn {
  width: 80px;
  font-size: 1rem;
  color: blue;
}

/* 질문 타입에 따른 옵션 스타일 */

.option {
  width: 10px;
  height: 10px;
}

.dropdownOption {
  margin-left: 10px;
}
