.optionList {
  display: flex;
}

.etc span {
  padding: 10px;
  width: 100%;
}

.addInput {
  width: 80px;
}

.addBtn {
  width: 80px;
  font-size: 1rem;
  color: blue;
}

/* 질문 타입에 따른 옵션 스타일 */

.option {
  width: 10px;
  height: 10px;
}

.dropdownOption {
  margin-left: 10px;
}

/* dnd 관련 */

.dndBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dndBox div {
  width: 100%;
}

.drag {
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.onDrag {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #e5e5e5;
}
